version: '2'
services:
  db:
    container_name: pgsql
    image: postgres:11.0
    environment:
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - POSTGRES_DB=postgres
    restart: always             # run as a service
    ports :
        - "5432:5432"
    volumes:
      - ./pgsql:/var/lib/postgresql/data
      - ./log/pgsql:/var/log/postgresql

  odoo12:
    container_name: odoo    
    image: odoo:12.0
    depends_on:
      - db
    ports:
      - "8069:8069"
    tty: true
    command: -- --dev=reload
#    command: odoo scaffold /mnt/extra-addons/test_module
    volumes:
      - ./addons:/mnt/extra-addons
      - ./etc/odoo:/etc/odoo
      - ./log:/var/log/odoo      
    restart: always             # run as a service
    
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    #   user : pgadmin4@pgadmin.org, passwd : admin
    environment:
      - PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    volumes:
      - ./pgbackup/:/backup
      - ./pgbackup/:/var/lib/pgadmin/storage/pgadmin4_pgadmin.org/backup
